<mat-sidenav-container fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandSet ? 'dialog' : 'navigation'" [mode]="(isHandSet | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandSet | async)!.matches">

    <!-- Sidebar Section that covers the left
          hand side of the main Toolbar -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="handleMenuButtonClick()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      {{appTitle}}
    </mat-toolbar>

    <mat-nav-list>
      <a *ngFor="let menuItem of sidebarMenu" mat-list-item [routerLink]=menuItem.routerLink href='#'>{{menuItem.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="handleMenuButtonClick()" *ngIf="showToolbarButton">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="showToolbarButton">
        {{appTitle}}
      </div>
      <div *ngIf="!(isHandSet | async)!.matches">
        <a *ngFor="let menuItem of toolbarMenu" mat-button href='#'>{{menuItem.title}}</a>
      </div>
      <span class="fill-space"></span>
      <img [ngStyle]="imageInfo">
      <button #themeButton mat-icon-button (click)="toggleThemePicker()">
        <mat-icon>format_paint</mat-icon>
      </button>
      <button #logoutButton mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <!-- content and routing should go here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>