<div container style="min-height: 40vh" fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex="30" fxLayout="column">
    <mat-card-title>Buttons and Colors</mat-card-title>
    <mat-card-content fxLayoutWrap fxLayoutGap="5px">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
    </mat-card-content>  
</mat-card>
</div>
