<div *ngIf="showSpinner" style="min-height: 60vh" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner diameter="200"></mat-spinner>
</div>

<app-server-list *ngIf="!showSpinner" [pageSize]="currentPage.pageSize" [pageNumber]="currentPage.currentPage" [displayedColumns]="displayedColumns"
  [pageSizeOptions]="pageSizeOptions" [numberOfServers]="currentPage.filter.filteredDataSet.size" [servers]="servers" (filterEvent)="handleFilterEvent($event)"
  (pageEvent)="handlePageEvent($event)" (sortEvent)="handleSortEvent($event)" (rowClick)="handleRowClick($event)" (refreshAll)="handleRefresh()"
  (refreshServer)="handleRefreshServer($event)">
</app-server-list>

<app-server-detail [server]="currentPage.currentServer"></app-server-detail>