.themePicker {
    width: 100px;
    height: 150px;
    padding: 2px;
    background-color: #cfd8dc;
}

.indigo-theme {
    background-color:  #3f51b5;
}

.deep-purple-theme{
    background-color:  #673ab7
}
.purple-theme{
    background-color:  #9c27b0
}
.pink-theme{
    background-color: #e91e63
}

.indigo-pink.mat-mini-fab.mat-accent {
    background-color: #e91e63
}

.purple-amber.mat-mini-fab.mat-accent{
    background-color: #ffc107
}

.purple-green.mat-mini-fab.mat-accent{
    background-color: #4caf50
}

.pink-blue.mat-mini-fab.mat-accent{
    background-color: #607d8b
}