<div style="min-height: 60vh" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-form-field>
      <input id="filterInput" matInput placeholder="Filter">
    </mat-form-field>
  </div>
  <div fxLayoutAlign="center center">
    <div style="min-width: 60vw">
      <mat-table [dataSource]="servers" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
        <ng-container cdkColumnDef="env">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef> Environments </mat-header-cell>
          <mat-cell *cdkCellDef="let server"> {{server.environments}} </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="name">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef> Name </mat-header-cell>
          <mat-cell *cdkCellDef="let server"> {{server.name}} </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="hostname">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef> Host Name </mat-header-cell>
          <mat-cell *cdkCellDef="let server"> {{server.hostname}} </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="port">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef> Port </mat-header-cell>
          <mat-cell *cdkCellDef="let server"> {{server.port}} </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="refreshServer">
          <mat-header-cell *cdkHeaderCellDef>
            <button style="min-width: 100px; max-height: 40px" mat-raised-button color="primary" (click)="handleRefresh()">Refresh All</button>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let server" (click)="$event.stopPropagation()">
            <button style="min-width: 100px; max-height: 40px" mat-raised-button color="primary" (click)="handleRefreshServer(server)">Refresh</button>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>
          <mat-cell *cdkCellDef="let server">
            <mat-spinner *ngIf="server.statusLoading else displayStatus" [diameter]="24" color="primary"></mat-spinner>
            <mat-icon color="primary" *ngIf="server.status && server.status.dataStale && !server.statusLoading">warning</mat-icon>
            <span #displayStatus *ngIf="server.status && !server.statusLoading"> {{server.status.status.currentStatus}} </span>
            <mat-icon color="warn" *ngIf='server.status && server.status.status.currentStatus === "UNRESPONSIVE" && !server.statusLoading'>error</mat-icon>
          </mat-cell>
        </ng-container>
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{'highlight-accent': useHighlightClass(row)}" (click)="highlight(row)" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="numberOfServers"
        [pageIndex]="pageNumber" showFirstLastButtons (page)=onPageEvent($event)></mat-paginator>
    </div>
  </div>
</div>